__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

*.sqlite3
*.db

.env
.venv/
.fvenv/
fvenv/

.vscode/
.idea/
*.iml
launch.json

.mypy_cache/
.pytest_cache/
htmlcov/
.coverage
.cache

keys.txt
keys.txt.pub
